.w-100{
    width: 100%;
}
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: 'Manrope', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dr{
    margin:20px 0;
    width: 100%;
    height: 1px;
    background: #C4C4C4;
}
.mainTitle{
    color: #000;
    font-size: 28px;
    text-align: center;
    padding: 10px 0;
}