aside{
    width: 291px;
    background: #F9F9F9;
    min-height: 100vh;
    padding: 20px 25px 0 20px;
    position: fixed;
    transition: all .3s linear;
    &.hidden{
    left: -100%;
    }
    .aside_title{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0 15px;

        span{
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: #6956E5;
        }
    }

    .aside_links{
        margin-top: 30px;
        li{
            padding: 15px 0;
            
            &.active{
                color: #6956E5;
                font-size: 16px;
                font-weight: 700;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
                }
                font-size: 16px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
                color: #878787;
            a{
                display: flex;
                align-items: flex-end;
                gap: 0 15px;
            }
        }
    }
    .aside_links2{
        margin-top: 0 !important;
    }

    .aside_bottom{
        margin-top: 60px;
        width: 219px;
        height: 197px;
        .aside_bottom_content{
            width: 219px;
            height: 161px;
            border-radius: 12px;
            opacity: 0.10000000149011612px;
            background: #ebe9f7;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                transform: translateY(-30px);
            }
            button{
            transform: translateY(-15px);
            width: 183px;
            border-radius: 6px;
            background: #FFFFFF;
            border: none;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0px;
            color: #6956E5;
            padding: 7px 0;
        }
        }
    }
}

.close{
    border: none;
    border-radius: 5px;
    color: #222;
    background: #d5fdff;
    padding: 6px 15px;
    float: right;
    cursor: pointer;
}


// teams
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
    .box{
        background: #6bbdf7e0;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px 15px 25px 40px;

        h4{
            color: #2a2a2a;
            font-size: 20px;
            padding: 10px 0;
        }
        p{
            padding: 20px 0;
        }
    }
}